* {
	box-sizing: border-box;
}
body {
	background-color: gray;
}
.content-wrap > * {
	background: white;
	margin-bottom: 2%;
	padding: 1em;
	text-align: center;
}
section,
aside {
	background: white;
	padding: 1em;
	width: 495px;
	height: 395px;
}
.content-wrap {
	max-width: 700px;
	margin: 0 auto;
}

h3 {
	clear: both;
	background: white;
	height: 20px;
}

p {
	clear: both;
	background: white;
	height: 20px;
}

section {
	float: left;
	width: 49%;
}
aside {
	float: right;
	width: 49%;
}
.wrap {
	background: gray;
	padding: 0;
}
.wrap::after {
	content: "";
	display: block;
	clear: both;
	float: none;
}

article {
	
	width: 275px;
	height: 245px;
	background: gray;
	text-align: center;
	margin: 85px 15px;
}
