body {
	background-color: #777;
	width: 960px;
	text-align: center;

}

header {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	background: #ebebeb;
	margin-bottom: 20px;
	padding: 30px;
	

}

nav {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	background: #ebebeb;
	margin-bottom: 25px;
	padding: 30px;
	

}

section {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	width: 495px;
	height: 395px;
	font-size: 18px;
	background: #ebebeb;
	float: left;

}

aside {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	width: 495px;
	height: 395px;
	font-size: 18px;
	background: #ebebeb;
	float: left;
}

footer {
	clear: both;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	background: #ebebeb;
	margin-top: 20px;
	padding: 30px;
}

article {
	clear: both;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	width: 475px;
	height: 345px;
	background: ##e3d8ea;
	text-align: center;
	
}